html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: calc(100vh - 10vh);
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .content {
    padding: 20px;
    margin-top: 10vh;
    margin-left: 20%;
    align-items: center;
    overflow: auto;
    height: calc(90vh - 20px);
  }
  
  .content > div {
    display: none;
  }
  
  .content > div.active {
    display: block;
  }

/* 
.content.active {
    display: flex;
}


.content-1 {
    display: none;
}

.content-2 {
    display: none;
}

.content-3 {
    display: none;
}

.content-4 {
    display: none;
}

.content-5 {
    display: none;
}

.menu__item:nth-child(1):target ~ .content-1,
.menu__item:nth-child(2):target ~ .content-2,
.menu__item:nth-child(3):target ~ .content-3,
.menu__item:nth-child(4):target ~ .content-4,
.menu__item:nth-child(5):target ~ .content-5 {
    display: block;
} */