html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
    padding-top: 10vh;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 10vh;
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: calc(100vh - 10vh);
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .menu__item {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu__item:hover {
    background-color: #ddd;
  }
  
  .menu__link {
    color: #333;
    text-decoration: none;
  }
  
  .menu__link:hover {
    background-color: #ddd;
  }


  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.5s ease;
  }

  .content > div {
    position: inherit;
    
    padding: 20px;
    overflow-y: auto;
    display: none;
  }
  
  .content > div.active {
    display: block;
  }
  
  .content-1 {
    background-color: #f1c40f;
  }
  
  .content-2 {
    background-color: #2ecc71;
  }
  
  .content-3 {
    background-color: #e74c3c;
  }
  
  .content-4 {
    background-color: #9b59b6;
  }
  
  .content-5 {
    background-color: #3498db;
  }

  .content textarea {
    width: 50vw;
    height: 50vh;
  }